* {
    margin: 0;
    padding: 0;
}
/*
    When the outline is 0, the outline-width is 0px
    When the outline is none, the outline-width is medium
*/
*:focus {
    outline: 0;
}
body {
    max-width: 580px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-family: Verdana;
    background: #D4D4DC;
    color: #1D1E22;
    overflow-x: hidden;
}
.greeting {
    margin-bottom: 40px;
    text-align: center;
}
.border-radius-app {
    position: relative;
    padding: 20%;
    color: #393F4D;
}
.html-box {
    max-width: 540px;
    width: 100%;
    padding: 0 20px;
    line-height: 40px;
    background: #393F4D;
    color: #D4D4DC;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 768px) {
    body {
        padding: 20px 0;
    }
    .border-radius-app {
        padding: 20px;
    }
    .html-box {
        flex-direction: column;
        padding-bottom: 20px;
        width: calc(100% - 40px);
        bottom: -95px;
    }
}
.border-radius-app h3 {
    margin-top: 0;
    margin-bottom: 30px;
}
.rectangle {
    position: absolute;
    background: #FEDA6A;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    box-shadow: 2px 0px 25px rgba(50, 50, 50, 0.5);
}
.ranges-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: -2%;
}
.ranges-box label {
    display: block;
    width: 46%;
    padding: 2%;
    font-size: 10px;
}
@media (max-width: 768px) {
    .ranges-box {
        flex-direction: column;
        margin: 0;
    }
    .ranges-box label {
        width: 100%;
    }
}
.ranges-box label span, .ranges-box label code  {
    font-size: 16px;
    line-height: 30px;
}
.ranges-box input {
    width: 100%;
}

.btn {
    color: #D4D4DC;
    background-color: transparent;
    padding: 4px 10px;
    border: 1px solid #D4D4DC;
    cursor: pointer;
}
@media (max-width: 768px) {
    .btn {
        margin-top: 10px;
        width: 100%;
    }
}
